version: "3.9"

services:
  app:
    build: .
    container_name: alertapro_app
    ports:
      - "8080:8080"
    volumes:
      - .:/var/www
    env_file:
      - .env
    depends_on:
      - mysql

  mysql:
    image: mysql:8.0
    container_name: alertapro_db
    restart: always
    environment:
      MYSQL_DATABASE: alertapro_db
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
